:root{
    --cor-fundo: #116ed8 ;
    --cor-principal: #0B0D20 ;
    --cor-secundaria: #212333; 
    --cor-destaque: #007e73;
    --cor-texto: #1c00b9;

}

body {
   
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
html {
    width: 100%;
    
    background-image: url("inteligencia.jpg");
    background-size: 1920px 1060px;
    background-repeat: no-repeat;
    background-position: center center;
}

.container {
    display: inline-block;
    position: relative;
  }
  .container h1 {
    position: absolute;
    top: 145px;
    right: 20px;
    font-size: 40px;
    color: rgb(0, 0, 0);
  }
  .container div {
    position: absolute;
    top: 145px;
    right: 20px;
    font-size: 10px;
    color: rgb(0, 0, 0);
  }

#imagem {
    position: absolute;
    top: 140px;
}

.caixa-principal{
    width: 100%;
    max-width: 600px;
    text-align: center;
    padding: 10px;
    margin-left: 800px;

}

h1{
    color: var(--cor-destaque);
}
